# Configuración de Base de Datos
DB_HOST=31.97.208.50
DB_NAME=u339231416_mathsics
DB_USER=u339231416_mathsics
DB_PASS=XwBjgKZ2Z?q

# Configuración de Producción
APP_ENV=production
# APP_ENV=development

# URL Base de la Aplicación (Sin barra al final, ej: https://midominio.com o http://localhost/matematicas)
APP_URL=https://mediumseagreen-loris-814533.hostingersite.com

# Configuración de Correo Electrónico (PHPMailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=jaremmanzo@gmail.com
SMTP_PASS=tceed vckj nzlq oriv
